<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mods</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Mods</h1>
        <ul>
            <% mods.forEach(mod => { %>
                <li><%= mod.name %> - <%= mod.status %></li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
